body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0px;
}

.t-row {
    display: flex;
}

.t-board {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 5px solid turquoise;
    border-radius: 20px;
}

.t-cell {
    display: inline-block;
    width: 30px;
    height: 30px;
    box-sizing: border-box;

}

.t-cell-0 {
    background-color: white;

    border: 1px solid grey;
}

.t-cell-1 {
    background-color: black;
    border-bottom: 1px solid #00f;
    border-right: 1px solid #00f;
    border-top: 1px solid #00b;
    border-left: 1px solid #00b;

    align-items: center;
    justify-content: center;
    display: flex;

    .letter {
        color: white;
    }
}

.t-cell-2 {
    background-color: green;
}

.t-cell-3 {
    background-color: red;
}

.t-score-label {
    font-weight: bold;
    font-size: 25px;
    color: white;
    padding-bottom: 10px;
}


.t-parent {
    display: flex;
}

element.style {
    width: 44px;
    left: 0px;
}

.background {
    background-size: cover;
    background-color: blue;
}