body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0px;
    height:100vh;
}

.t-row {
    display: flex;
}

.t-board {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

.t-cell {
    display: inline-block;
    width: 30px;
    height: 30px;
    box-sizing: border-box;

}

.t-cell-0 {
    background-color: white;

    border: 1px solid grey;
}

.t-cell-1 {
    background-color: #301934;

    align-items: center;
    justify-content: center;
    display: flex;

    .letter {
        color: white;
    }
}

.t-cell-2 {
    background-color: green;
}

.t-cell-3 {
    background-color: red;
}

.score-board {
    display: flex;
    justify-content: center;
}

.t-score-label {
    font-weight: bold;
    font-size: 25px;
    color: black;
    padding-bottom: 10px;
}


.t-parent {
    display: inline-block;
    margin-top: 80px;
    background-image: linear-gradient(red, orange);
    box-shadow: 15px 15px;
    border-radius: 50px;

}

.t-parent-2{
    display: inline-block;
}

element.style {
    width: 44px;
    left: 0px;
}

.container {

    display: flex;
    justify-content: center;
    height: 720px;    
}

.circle-container{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.circle {
    background-color: #0D0907;
    height: 50px;
    width: 50px;
    justify-self: center;
    border-radius: 25px;
    margin-bottom: 150px;
    position: absolute;
}

.inner-circle {
    background-color: black;
    margin-top: 5px;
        height: 40px;
        width: 40px;
        justify-self: center;
        border-radius: 20px;
        margin-bottom: 140px;
        z-index: 3;
}


.title-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-size: 75px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
    color: turquoise;
}

.lines {
    margin-top: 150px;
    $color: #59c1fe;
    position: fixed;
    width: 30vw;
    height: 2em;
    background: linear-gradient(rgba($color, 0.2) 20%, $color 40%, $color 60%, rgba($color, 0.2) 80%);
    background-size: 1px 0.5em;
    box-shadow: 0 0 1em rgba($color, 0.4);
    transform: translateY(-1em);
    left: 35%;
}

.retro {
    font-family: 'Mr Dafoe';
  margin: 0;
  font-size: 5.5em;
  color: white;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
}
